# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.vsidx
*.db
*.db-shm
*.db-wal
*.opendb
*.lock
*.obj
*.iobj
*.ipdb
*.log
*.pdb
*.tlog
*.recipe
*.user
*.exe
*.ipch
Chapter 7 Drawing in Direct3D Part II/LandAndWaves/x64/Release/LandAndWaves.vcxproj.FileListAbsolute.txt
*.suo
*.ilk
*.idb
Chapter 8 Lighting/LitColumns/x64/Debug/LitColumns.vcxproj.FileListAbsolute.txt
Chapter 8 Lighting/LitColumns/x64/Release/LitColumns.vcxproj.FileListAbsolute.txt
Chapter 8 Lighting/LitWaves/x64/Debug/LitWaves.vcxproj.FileListAbsolute.txt
Chapter 9 Texturing/Crate/x64/Debug/Crate.vcxproj.FileListAbsolute.txt
Chapter 10 Blending/BlendDemo/x64/Debug/BlendDemo.vcxproj.FileListAbsolute.txt
